/*---------------------
Glyphes
---------------------*/

@font-face {
  font-family: "UnormativeFraktur";
  src: url(".../glyphes/woff2/UnormativeFraktur.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cambria";
  src: url(".../glyphes/woff2/Cambria_WO2_Regular.woff2") ;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}